@import '../../../../Component/MainScss/base';
@import '../../../../Component/MainScss/components';
@import '../../../../Component/MainScss/layout';

.header-hero-side-page{
    &.hero-wrap .overlay {
        background: $color-black!important;
    }

    .bread{
        color: $color-main!important;
    }

    .breadcrumbs{
        .home a{
            color: $color-main!important;
            transition: letter-spacing .3s;

            &:hover{
                letter-spacing: 1.5px;
            }
        }
    }
}
