%single-product-button {
    @include transition(all .2s ease-in);
    background-color: #f5f200;
    padding: 10px 12px;
    box-shadow: 0 1px 3px 0 #00000080 !important;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;
    transition-property: color, background-color, border-color;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: $color-dark;

    &:hover {
        background-color: #fffe89;
    }
}

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 300;

    .menu {
        @extend %fullSpace;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform .5s;

        &-line {
            width: 100%;
            height: 4px;
            background-color: $color-yellow-primary;
            transition: all .5s .5s;
            transform-origin: right;
        }
    }
}