.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            right: -50vw;
            transition: right 0.8s cubic-bezier(1, 0, 0, 1);

            .right-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;
            }

            .right-img-1 {
                top: 15%;
                right: 15%;
            }

            .right-img-2 {
                top: 35%;
                right: 25%;
            }

            .right-img-3 {
                top: 55%;
                right: 35%;
            }
        }

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            left: -50vw;
            @include flexCenter;
            transition: left 0.8s cubic-bezier(1, 0, 0, 1);
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: tahoma;
                font-size: 50px;
                @include textStyles;
                color: $color-white-secondary;
                text-decoration: none;
                display: block;
                margin: 25px;
                text-align: center;
                transition: all .3s;

                &:hover {
                    color: $color-yellow-changed;
                    letter-spacing: 4px;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left{
    left: 0;
    top: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right{
    right: 0;
    top: 0;
}

.checkbox:checked ~ .hamburger-menu .menu{
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1{
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2{
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3{
    transform: rotateZ(40deg);
}