@font-face {
  font-family: BYekan;
  src: url("/assets/fonts/BYekan/Yekan.woff") format("woff");
}
@font-face {
  font-family: BShekari;
  src: url("/assets/fonts/BShekari.ttf");
}
@font-face {
  font-family: Shabnam;
  src: url("/assets/fonts/shabnam/Shabnam.ttf");
}
@font-face {
  font-family: IranSans;
  src: url("/assets/fonts/sans/IRANSansWeb(FaNum).ttf");
}
@font-face {
  font-family: Vazir;
  src: url("/assets/fonts/vazir/Vazirmatn-Light.ttf");
}
.hamburger-menu .menu {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2C2B27;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FEB42D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FEB42D;
}

.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
}
.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transition: all 0.5s 0.5s;
  transform-origin: right;
}

.navbar {
  position: relative;
  z-index: 200;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: -50vw;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation-right .right-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
.navbar-navigation-right .right-img-1 {
  top: 15%;
  right: 15%;
}
.navbar-navigation-right .right-img-2 {
  top: 35%;
  right: 25%;
}
.navbar-navigation-right .right-img-3 {
  top: 55%;
  right: 35%;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  left: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: tahoma;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 25px;
  text-align: center;
  transition: all 0.3s;
}
.navbar-navigation .nav-list-link:hover {
  color: #ACEE00;
  letter-spacing: 4px;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
  top: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
  top: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

body {
  font-family: IranSans;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button:focus {
  box-shadow: none !important;
}

.heading-section .category {
  letter-spacing: 0;
}

.navbar .navbar-nav {
  text-align: right;
}

.carousel .carousel-inner {
  height: 720px;
}
.carousel .carousel-item {
  height: 720px;
}
.carousel .carousel-item img {
  height: 100%;
  object-fit: cover;
}
.carousel .carousel-item .slide-title {
  font-size: 5rem;
  direction: rtl;
}
.carousel .carousel-item .slide-subtitle {
  direction: rtl;
}

.ftco-section {
  padding: 4em 0;
}

.heading-section .subheading {
  direction: rtl;
  text-align: right;
  letter-spacing: 1px;
  font-weight: bolder !important;
}
.heading-section .category {
  text-transform: uppercase;
  /* font-weight: 300; */
  font-size: 1rem;
  /* letter-spacing: 2px; */
}

.heading-section h2 {
  direction: rtl;
  text-align: right;
}

.staff .text {
  direction: rtl;
  text-align: right;
}

.ftco-about-us .describe {
  font-family: BYekan;
  font-size: 1.2rem;
}

.ftco-services {
  direction: rtl;
  padding: 4em 0 0em 0;
}
.ftco-services .services:before {
  position: absolute;
  top: 45px;
  right: 400px !important;
  display: none;
  transform: rotate(180deg);
  content: "";
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #e1e8ff;
}
.ftco-services .media-body {
  direction: rtl;
  text-align: right;
}

.ftco-projects .header {
  flex-direction: row-reverse;
}
.ftco-projects .project .text {
  text-align: right;
  direction: rtl;
}
.ftco-projects .project .text span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
}
.ftco-projects .category .option {
  color: #242424;
  transition: color 0.2s;
  cursor: pointer;
}
.ftco-projects .category .option:hover {
  color: #FEB42D;
}

.ftco-frequently {
  background-color: #FEB42D;
}
.ftco-frequently .heading-section h2,
.ftco-frequently .border-line p {
  color: #fff;
}
.ftco-frequently .accordion {
  direction: rtl;
  text-align: right;
}
.ftco-frequently .accordion-flush .accordion-item .accordion-button {
  text-align: right;
  direction: rtl;
}

.ftco-client {
  direction: rtl;
}

.ftco-blog {
  direction: rtl;
  padding: 0 0 4em 0;
}
.ftco-blog .blog-entry .text .heading {
  margin-bottom: 0;
}
.ftco-blog .blog-entry .image {
  transition: all 0.2s;
}
.ftco-blog .blog-entry .image:hover {
  box-shadow: 0px 8px 7px 4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.ftco-footer {
  direction: rtl;
}
.ftco-footer .ftco-footer-social a:hover span {
  transition: color 0.3s;
  color: #FEB42D;
}
.ftco-footer .ftco-footer-widget.links li a {
  direction: rtl;
}
.ftco-footer .ftco-footer-widget.links li a:hover {
  color: #FEB42D;
  letter-spacing: 0.4px;
}
.ftco-footer .ftco-footer-widget.contact li .title {
  color: #FEB42D;
}
.ftco-footer .ftco-footer-widget.contact li .text {
  color: rgba(255, 255, 255, 0.7);
}

CSS.g-6,
.gx-6 {
  --bs-gutter-x: 4.5rem;
}

.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}

@media (min-width: 576px) {
  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 768px) {
  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 992px) {
  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 1400px) {
  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
.mb-6 {
  margin-bottom: 4.5rem !important;
}

.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}
@media (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}/*# sourceMappingURL=homePage.css.map */