@import '../../../../Component/MainScss/base';
@import '../../../../Component/MainScss/components';
@import '../../../../Component/MainScss/layout';

body {
  font-family: $font-IranSans;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



button:focus {
  box-shadow: none !important;
}


.heading-section .category {
  letter-spacing: 0;
}

.navbar .navbar-nav {
  text-align: right;
}


.carousel {
  .carousel-inner {
    height: 720px;
  }

  .carousel-item {
    height: 720px;

    img {
      height: 100%;
      object-fit: cover;
    }

    .slide-title {
      font-size: 5rem;
      direction: rtl;
    }

    .slide-subtitle {
      direction: rtl;
    }
  }
}

.ftco-section {
  padding: 4em 0;
}

.heading-section {

  .subheading {
    direction: rtl;
    text-align: right;
    letter-spacing: 1px;
    font-weight: bolder !important;
  }

  .category {
    text-transform: uppercase;
    /* font-weight: 300; */
    font-size: 1rem;
    /* letter-spacing: 2px; */
  }
}

.heading-section h2 {
  direction: rtl;
  text-align: right;
}

.staff .text {
  direction: rtl;
  text-align: right;
}

.ftco-about-us {

  .describe {
    font-family: $font-BYekan;
    font-size: 1.2rem;
  }
}

.ftco-services {
  direction: rtl;
  padding: 4em 0 0em 0;

  .services:before {
    position: absolute;
    top: 45px;
    right: 400px !important;
    display: none;
    transform: rotate(180deg);
    content: '';
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #e1e8ff;
  }

  .media-body {
    direction: rtl;
    text-align: right;
  }
}


.ftco-projects {

  .header {
    flex-direction: row-reverse;
  }

  .project .text {
    text-align: right;
    direction: rtl;

    span {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.8);

    }
  }

  .category {

    .option {
      color: $color-dark-2;
      transition: color .2s;
      cursor: pointer;

      &:hover {
        color: $color-main;
      }
    }
  }
}

.ftco-frequently {
  background-color: $color-main;


  .heading-section h2,
  .border-line p {
    color: $color-white;
  }

  .accordion {
    direction: rtl;
    text-align: right;
  }

  .accordion-flush .accordion-item .accordion-button {
    text-align: right;
    direction: rtl;
  }


}

.ftco-client {
  direction: rtl;
}

.ftco-blog {
  direction: rtl;
  padding: 0 0 4em 0;

  .blog-entry {
    .text .heading {
      margin-bottom: 0;
    }

    .image {
      transition: all .2s;

      &:hover {
        box-shadow: 0px 8px 7px 4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      }
    }
  }

}

.ftco-footer {
  direction: rtl;

  .ftco-footer-social {

    a {

      &:hover span {
        transition: color .3s;
        color: $color-main;
      }
    }
  }

  .ftco-footer-widget {

    &.links {
      li a {
        direction: rtl;

        &:hover {
          color: $color-main;
          letter-spacing: .4px;
        }
      }
    }

    &.contact {
      li {
        .title {
          color: $color-main;
        }

        .text {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
















CSS.g-6,
.gx-6 {
  --bs-gutter-x: 4.5rem;
}

.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}

@media (min-width: 576px) {

  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }

  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
}

@media (min-width: 768px) {

  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }

  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
}

@media (min-width: 992px) {

  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }

  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
}

@media (min-width: 1200px) {

  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }

  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
}

@media (min-width: 1400px) {

  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }

  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }

  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }

  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }

  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }

  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}

@media (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }

  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
}