.navbar {
  z-index: 20;
}
.navbar .navbar-nav {
  padding-right: 0;
  padding-left: unset;
  direction: rtl;
}
.navbar .navbar-expand-lg .navbar-nav {
  direction: rtl;
}/*# sourceMappingURL=NavBar.css.map */