.block-27 ul li a, .block-27 ul li span {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.modal-header .btn-close {
  margin: -0.5rem auto -0.5rem -0.5rem;
}/*# sourceMappingURL=projects.css.map */