.error-area {
    height: 100vh;
    text-align: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
    /* background-image: url("../images/error/404-bg.png"); */
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }

  /* .error-area img{
    width: 100vw;
  } */

  .button{
    position: absolute;
    bottom: 70px;
    left: 10%;
    transform: translate(-50%, 50%);
  }

  .btn{
    background-color: #262626;
    color: #eeeeee;
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }

  .btn:hover {
    background-color: #4DD9D0;
    border: 1px solid #fff;
    color: #fff;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .error-area{
      display: flex;
      align-items: center;
    }

    .error-area img{
    width: 100vw;
    }

    .button{
      position: absolute;
      bottom: 70px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }